<!--subscribe-->
<section class="subscribe py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
    <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Suscríbete</h3>
    <div class="row subscribe-form text-center">
      <div class="col-md-6 email-sub-agile">
        <form (ngSubmit)="guardar(forma)" #forma="ngForm">
          <div class="form-group ">
            <input type="email" class="form-control"
                   placeholder="*Email" id="email"
                   name="email"
                   ngModel
                   pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                   title="ejemplo@hotmail.com"
                   required="required"
                   #email="ngModel">
            <div class="clr" *ngIf="email.errors?.required && email.dirty">
              Este campo es obligatorio
            </div>
            <div *ngIf="erroneo" class="alert-danger">
              Ya estabas registrado
            </div>
            <div *ngIf="valido" class="h4 alert-success">
              Suscripcion realizada correctamente
            </div>
            <div class="clr" *ngIf="email.errors?.pattern">
              Este campo debe ser un correo electrónico válido
            </div>
          </div>
          <div class="text-center">
            <button type="submit" id="envio" class="btn sent-butnn btn-lg"
                    [ngClass]="{'button_disabled': forma.invalid}">
              Enviar
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="wthree-form-list">
          <h4>Suscribete y recibirás descuentos y novedades, así como información sobre cursos, talleres y
            quedadas</h4>
        </div>
      </div>
    </div>
  </div>
</section>
