<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a [routerLink]="['home']">Inicio</a>
        <span>/ /</span>
      </li>
      <li>Deportes</li>
    </ul>
  </div>
</div><!--Dance class-->
<section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Deportes</h3>
    <div class="row blog-inner-wls">

      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong">
          <img src="../../../../assets/images/g8.jpg" alt="" class="img-fluid">
        </a>
        <div class="w3l-ser-sub-txt ">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong">Cómo es el
            Crosspilates, la unión de CrossFit y Pilates</a></h4>
          <p>La combinación de ejercicios, y sus herramientas de entrenamiento, del CrossFit y el Pilates
            dan como resultado el Crosspilates. Este sistema trabaja todo el cuerpo, mejora el
            equilibrio y la coordinación. La instructora y fisioterapeuta Miriam Carles-Tolrà, del
            centro DynamiCore, nos lo explica.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here mb-2">1/Febrero/2019</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
        <div class="w3l-ser-sub-txt mt-lg-4 mt-3">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong2">Sedentarismo y
            mala dieta en las 10 amenazas de 2019</a></h4>
          <p>El sedentarismo y la mala dieta son dos de las causas de la proliferación de enfermedades no
            transmisibles.
            Éstas han sido consideradas por la OMS como la segunda de las grandes amenazas de 2019 en
            todo el mundo.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here mb-2">1/Febrero/2019</p>
        </div>
        <a href="#" data-toggle="modal" data-target="#exampleModalLong2">
          <img src="../../../../assets/images/g2.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong3">
          <img src="../../../../assets/images/g1.jpg" alt="" class="img-fluid">
        </a>
        <div class="w3l-ser-sub-txt ">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong3">Telegim
            revalida liderazgo en el top-10 de webs de gimnasios</a></h4>
          <p>Telegim ha vuelto a ocupar la primera plaza del top-10 de webs de gimnasios del mes de enero,
            como ya hizo el pasado mes de diciembre. También Metropolitan ha mantenido
            la posición en el tercer puesto del podio, mientras que Altafit ha pasado de la quinta plaza
            de diciembre pasado, a la segunda de ahora.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here">29/Enero/2019</p>
        </div>
      </div>
    </div>
    <div class="row blog-inner-wls">
      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong4">
          <img src="../../../../assets/images/bf.jpg" alt="" class="img-fluid">
        </a>
        <div class="w3l-ser-sub-txt ">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong4">Claror Marítim
            suma Ballet Fit a su oferta de actividades</a></h4>
          <p>Claror Marítim es el segundo club del Grupo Claror que ofrece esta actividad. El pasado mes
            de abril la implementó en L’Esportiu de Llinars del Vallès, que se
            convirtió en el primer centro de Cataluña en incorporar Ballet Fit a su parrilla de
            actividades.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here mb-2">27/Enero/2019</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
        <div class="w3l-ser-sub-txt mt-lg-4 mt-3">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong5">Maratón de
            Fitness en Albacete</a></h4>
          <p>Mañana día 27 de enero se celebrará la ‘II Edición de la Maratón Fitness Imaginalia’ en
            Albacete. Las actividades incluyen Ciclo indoor, Step,
            Pilates, Hip-Hop y flamenco. Para participar hay que abonar un euro que se destinará a la
            Asociación Desarrollo Autismo.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here mb-2">26/Enero/2019</p>
        </div>
        <a href="#" data-toggle="modal" data-target="#exampleModalLong5">
          <img src="../../../../assets/images/mf.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong6">
          <img src="../../../../assets/images/tai.jpg" alt="" class="img-fluid">
        </a>
        <div class="w3l-ser-sub-txt ">
          <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong6">El Tai Chi, la
            mejor disciplina contra la fibromialgia</a></h4>
          <p>La investigación de la Universidad de Tufts de Boston concluye que el Tai Chi aporta
            beneficios superiores que el ejercicio aeróbico para los enfermos con dolores crónicos y
            fibromialgia.
            La mejora se apreció incluso entre aquellos que habían realizado Tai Chi sólo una vez por
            semana.</p>
          <span class="far fa-calendar-alt"></span>
          <p class="date-here">22/Enero/2019</p>
        </div>
      </div>
    </div>

  </div>


</section>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/g8.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">La combinación de ejercicios, y sus herramientas de
            entrenamiento, del CrossFit y el Pilates dan como resultado el Crosspilates. Este sistema
            trabaja todo el cuerpo,
            mejora el equilibrio y la coordinación. La instructora y fisioterapeuta Miriam Carles-Tolrà,
            del centro DynamiCore, nos lo explica.

          </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/g2.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">
            El sedentarismo y la mala dieta son dos de las causas de la proliferación de enfermedades no
            transmisibles. Éstas han sido consideradas por la OMS como la segunda de las grandes
            amenazas de 2019 en todo el mundo.
            La Organización Mundial de la Salud (OMS) ha elaborado una lista con los 10 riesgos para el
            planeta que ha detectado para este año 2019.
          </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/g1.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">
            Telegim ha vuelto a ocupar la primera plaza del top-10 de webs de gimnasios del mes de
            enero, como ya hizo el pasado mes de diciembre. También Metropolitan ha mantenido la
            posición en el tercer puesto del podio, mientras que Altafit ha pasado de la quinta plaza de
            diciembre pasado, a la segunda de ahora.</p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle4"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle4">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/bf.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">
            Claror Marítim es el segundo club del Grupo Claror que ofrece esta actividad. El pasado mes
            de abril la implementó en L’Esportiu de Llinars del Vallès,
            que se convirtió en el primer centro de Cataluña en incorporar Ballet Fit a su parrilla de
            actividades.</p>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle5"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle5">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/mf.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">
            Mañana día 27 de enero se celebrará la ‘II Edición de la Maratón Fitness Imaginalia’ en
            Albacete. Las actividades incluyen Ciclo indoor, Step, Pilates, Hip-Hop y flamenco.
            Para participar hay que abonar un euro que se destinará a la Asociación Desarrollo Autismo.
          </p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle6">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/tai.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">
            La investigación de la Universidad de Tufts de Boston concluye que el Tai Chi aporta
            beneficios superiores que el ejercicio aeróbico para los enfermos con dolores crónicos y
            fibromialgia. La mejora se apreció incluso entre aquellos que habían realizado Tai Chi sólo
            una vez por semana.
          </p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
