<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a [routerLink]="['home']">Inicio</a>
        <span>/ /</span>
      </li>
      <li>Novedades</li>
    </ul>
  </div>
</div>
<!-- //short-->
<main>
  <!--Dance class-->
  <section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Novedades y tendencias en Ponte-Fit</h3>

      <div class="row blog-inner-wls">

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
          <a href="#" data-toggle="modal" data-target="#exampleModalLong">
            <img src="../../../../assets/images/hiit.jpg" alt="" class="img-fluid">
          </a>
          <div class="w3l-ser-sub-txt ">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here mb-2">15 May 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong">Entrenamiento
              de intervalo de alta intensidad (HIIT)</a></h4>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0">
          <div class="w3l-ser-sub-txt mt-lg-4 mt-3">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here mb-2">15 Oct 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong2">Entrenamiento
              grupal</a></h4>
          </div>
          <a href="#" data-toggle="modal" data-target="#exampleModalLong2">
            <img src="../../../../assets/images/grupal.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
          <a href="#" data-toggle="modal" data-target="#exampleModalLong3">
            <img src="../../../../assets/images/fuerza.jpg" alt="" class="img-fluid">
          </a>
          <div class="w3l-ser-sub-txt ">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here">15 Nov 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong3">Entrenamiento
              de fuerza</a></h4>
          </div>
        </div>
      </div>

      <div class="row blog-inner-wls">

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
          <a href="#" data-toggle="modal" data-target="#exampleModalLong4">
            <img src="../../../../assets/images/pf.jpg" alt="" class="img-fluid">
          </a>
          <div class="w3l-ser-sub-txt ">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here mb-2">15 May 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong4">Profesionales
              del fitness educados, certificados y con experiencia</a></h4>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
          <div class="w3l-ser-sub-txt ">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here mb-2">15 Oct 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong5">Entrenamiento
              personal</a></h4>
          </div>
          <a href="#" data-toggle="modal" data-target="#exampleModalLong5">
            <img src="../../../../assets/images/pt.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 ser-inner-img p-0 blog-gap">
          <a href="#" data-toggle="modal" data-target="#exampleModalLong6">
            <img src="../../../../assets/images/ef.jpg" alt="" class="img-fluid">
          </a>
          <div class="w3l-ser-sub-txt ">
            <span class="far fa-calendar-alt"></span>
            <p class="date-here">15 Nov 2018</p>
            <h4 class="mt-3"><a href="#" data-toggle="modal" data-target="#exampleModalLong6">Entrenamiento
              funcional</a></h4>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/hiit.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">El HIIT generalmente implica ráfagas cortas de ejercicio de alta
            intensidad seguidas de un breve período de descanso o recuperación. Por lo general, las
            sesiones duran menos de media hora. Ocupó el puesto número uno en 2014 y se mantuvo en las
            10 tendencias en los años subsiguientes, no obstante, muchos de los comentarios de los
            profesionales encuestados hacen referencia a su alto potencial de lesiones.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/grupal.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">Los programas grupales están diseñados con el objetivo de ser
            sesiones efectivas para diferentes niveles de condición física. Suelen reforzar la
            motivación, ya que sus instructores manejan técnicas de liderazgo que ayudan a sus alumnos a
            lograr objetivos. Pese a que existen hace mucho tiempo, recién en 2017 apareció entre las 20
            tendencias principales, ocupando el puesto 6. “Ninguno de los encuestados pudo explicar por
            qué la capacitación grupal se ha vuelto popular, por lo que será interesante observar esta
            tendencia en 2018 y más allá”, sostiene el informe.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/fuerza.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">Muchos clientes jóvenes entrenan casi exclusivamente con pesas,
            no obstante en los gimnasios de hoy hay muchos otros (hombres y mujeres, jóvenes y viejos,
            niños y pacientes con enfermedades crónicas) que usan el entrenamiento con pesas para
            mejorar o mantener la fuerza.
          </p>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle4"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle4">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/pf.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">Una tendencia que se mantiene en los cinco primeros puestos
            desde 2015, dado que cada vez hay más programas de ejercicios e instituciones de
            certificación para profesionales de la salud y el fitness. “A medida que la economía
            continúa creciendo y el mercado de los profesionales del acondicionamiento físico se vuelve
            más concurrido y competitivo, el interés en algún grado de regulación ya sea dentro de la
            industria o de fuentes externas (es decir, el gobierno) parece estar en expansión”.
          </p>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle5"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle5">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/pt.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">Los personales trainers continúan buscando la
            profesionalización. Aunque ha habido algunos cambios menores (hoy suelen verse grupos
            pequeños en lugar de uno a uno), los entrenadores personales -que suelen trabajar de manera
            independiente- continuarán siendo una parte importante del personal de los gimnasios y
            centros de salud.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle6">Ponte-Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="out-info">
          <img src="../../../../assets/images/ef.jpg" alt="" class="img-fluid"/>
          <p class="pt-lg-4 pt-md-3 pt-3">Se define como el uso de entrenamiento de fuerza para mejorar el
            equilibrio, la coordinación, la fuerza, el poder y la resistencia, con el objetivo de
            mejorar la capacidad para realizar actividades de la vida diaria.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>


