<!--A Design by W3layouts
   Author: W3layout - Gabriel Becerra, Felipe Manso, Adrian Chelu
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   Descripción=Pagina principal del sitio web www.ponte-fit.com este será el home y la primera vista que tendra el usuario de nosotros
   -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ponte-Fit una web sobre deportes y nutrición</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="fit, deporte, nutrición, cuidarse, gym, gimnasio"/>
  <link href="//fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">
</head>
<body>
<!--banner imagen principal y eslogan-->
<div class="slides">
  <div class="slide slide--current two-img">
    <div class="slider-up">

      <h4>
        Construye tu cuerpo perfecto con<br>Ponte-Fit</h4>
      <p>El ejercicio regular es un hábito conocido por promover una salud óptima. Tal vez lo odies o tal vez lo
        ames pero, es el hábito más valioso que puedes tener en tu vida.</p>
      <div class="outs_more-buttn">
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/register']">Regístrate</a>
        <button *ngIf="!auth.isAuthenticated()" [routerLink]="['/login']">Ingresa</button>
        <a *ngIf="auth.isAuthenticated()" [routerLink]="['/purchase']">Contrata un plan</a>
      </div>
    </div>
    <div class="slide__img">
    </div>
  </div>

  <div class="slide__img "></div>

</div>
<div class="clearfix"></div>

<!--//banner-->
<main>
  <!--about -->
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
      <div class="row agile-abt-info text-left">
        <div class="col-lg-6 agile-abt-info ">
          <h2>Bienvenido a Ponte-Fit<br>Por qué comenzar?
          </h2>
          <div class="info-sub-w3 pb-lg-4 pb-md-3 pb-sm-3 pb-3">
            <p>Por lo general, las personas que hacen ejercicio, comienzan a comer mejor y a ser más
              productivos.
              La gente fuma menos y muestran más paciencia con los colegas y familiares.</p>
          </div>
          <div class="info-sub-w3">
            <p>Los deportistas usan sus tarjetas de crédito con menos frecuencia y dicen que se sienten
              menos
              estresados.
              El ejercicio es un hábito clave que desencadena un cambio generalizado</p>
          </div>
        </div>
        <div class="col-lg-6 abut-middle-grid">
          <div class="row text-center about-top-right mb-lg-4 mb-md-3 mb-sm-3">
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fab fa-slideshare banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                  <h4>Pérdida de peso</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fas fa-users banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                  <h4>Construir musculo</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fas fa-bullhorn banner-icon"></span>
                </div>
                <div class="white-right">
                  <h4>Mejora tu nivel</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-center about-mid-right mb-lg-4 mb-md-3 mb-sm-3">
            <div class="col-lg-6 col-md-6 col-sm-6 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fab fa-superpowers banner-icon"></span>
                </div>
                <div class="white-right">
                  <h4>Define tu cuerpo</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fas fa-bicycle banner-icon"></span>
                </div>
                <div class="white-right">
                  <h4>Cardio fitness</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center about-down-right">
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fab fa-cloudversify banner-icon"></span>
                </div>
                <div class="white-right">
                  <h4>Plan alimenticio</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fab fa-whmcs banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                  <h4>Mantente en forma</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 fit-about-agile-grid">
              <div class="white-shadow rounded">
                <div class="white-left">
                  <span class="fas fa-fire banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-right">
                  <h4>Trabajo de fuerza</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->
  <!--services -->
  <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nuestros servicios</h3>
      <div class="row service-abt-info text-left">

        <div class="col-lg-7 w3layouts-service-right">
          <div class="ser-list-using-agile">
            <h4>Qué te ofrecemos</h4>
            <div class="info-sub-w3">
              <p>La buena noticia es que todo tu esfuerzo es bien recompensado. El ejercicio repercute en
                muchas áreas de tu vida (sin darte cuenta).
                Tú solo tienes que enfocarte en construir el hábito de hacer ejercicio y los beneficios
                caerán del cielo.</p>
            </div>
          </div>
          <div class="row mt-lg-4 mt-md-3 mt-3">
            <div class="col-md-6 col-sm-6 ser-w3l-jst-abt ">
              <div class="ser-back-ground p-lg-4 p-md-4 p-sm-3 p-3 clo-ser-one">
                <div class="row ">
                  <div class="col-md-4 ser-wthree-icon">
                    <span class="fas fa-users banner-icon" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-8 ser-agile-para px-0">
                    <h5>Conoce gente en nuestro centro</h5>
                    <p>En nuestro centro podras relacionarte con otros deportistas de diferentes
                      niveles</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ser-w3l-jst-abt">
              <div class="ser-back-ground p-lg-4 p-md-4 p-sm-3 p-3 clo-ser-two">
                <div class="row ">
                  <div class="col-md-4 ser-wthree-icon">
                    <span class="fas fa-fire banner-icon" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-8 ser-agile-para px-0">
                    <h5>Pierde peso garantizado </h5>
                    <p>Con nuestro metodo esfuerzo-recompensa perderas peso sin darte cuenta, 100%
                      efectividad</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-lg-4 mt-md-3 mt-3">
            <div class="col-md-6 col-sm-6 ser-w3l-jst-abt ">
              <div class="ser-back-ground p-lg-4 p-md-4 p-sm-3 p-3 clo-ser-three">
                <div class="row ">
                  <div class="col-md-4 ser-wthree-icon">
                    <span class="fab fa-slideshare banner-icon" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-8 ser-agile-para px-0">
                    <h5>Instalaciones a la última</h5>
                    <p>Contamos con material de primeras marcas contrastadas como Sintax, VmMax y
                      Super
                      Trust </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ser-w3l-jst-abt">
              <div class="ser-back-ground p-lg-4 p-md-4 p-sm-3 p-3 clo-ser-four">
                <div class="row ">
                  <div class="col-md-4 ser-wthree-icon">
                    <span class="fab fa-slideshare banner-icon" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-8 ser-agile-para px-0">
                    <h5>Personal training </h5>
                    <p>Con nuestros entrenadores personles realizaras tus ejercicios de manera
                      correcta
                      y sin riesgo de lesiones</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 ser-img text-center">
          <img src="../../../assets/images/sc1.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>

  </section>
  <!-- //services -->
  <!-- events -->
  <section class="events py-lg-4 py-md-3 py-sm-3 py-3" id="events">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Proximos eventos</h3>
      <div class="row blog-top-grids">
        <div class="col-lg-7 left-side-agile p-lg-4 p-md-4 p-3">

          <h4>Spinning o ciclismo indoor</h4>
          <p class="groom-right">Una sala de fitness, música, un monitor para motivarte y muchas ganas de dar
            pedaladas.
            Es todo lo que necesitas para disfrutar de los beneficios del spinning o ciclismo indoor para
            tus
            piernas, tu corazón… y tu estrés.</p>
          <div class="row mt-2">
            <div class="col-md-2 col-sm-2 col-3 event-w3ls-date text-center">
              <h5>20</h5><span>Feb</span>
            </div>
            <div class="col-md-10 col-sm-10 col-9 event-w3ls-sub-txt text-left">
              <h4 class="mb-2">Cardio Training</h4>
              <ul>
                <li><span class="fas fa-clock" aria-hidden="true"></span>20 Febrero 2019</li>
                <li><span class="fas fa-map-marker-alt" aria-hidden="true"></span>Ponte-Fit Madrid</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 blog-w3l-right ">
          <img src="../assets/images/bb1.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row blog-top-grids">
        <div class="col-lg-7 left-side-agile p-lg-4 p-md-4 p-3">

          <h4>Ponte como un toro</h4>
          <p class="groom-right">Ponerse cachas no depende tanto del ejercicio realizado como de la forma de
            practicarlo.
            El tiempo de descanso y una alimentación adecuada, alta en hidratos de carbono compuestos y en
            proteínas, serán los complementos adecuados para lograr vuestro objetivo.</p>
          <div class="row mt-2">
            <div class="col-md-2 col-sm-2 col-3 event-w3ls-date text-center">
              <h5>20</h5><span>Feb</span>
            </div>
            <div class="col-md-10 col-sm-10 col-9 event-w3ls-sub-txt text-left">
              <h4 class="mb-2">No pain no gain</h4>
              <ul>
                <li><span class="fas fa-clock" aria-hidden="true"></span>1 Marzo 2019</li>
                <li><span class="fas fa-map-marker-alt" aria-hidden="true"></span>Ponte-Fit Barcelona
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 blog-w3l-right ">
          <img src="../assets/images/bb2.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row blog-top-grids">
        <div class="col-lg-7 left-side-agile p-lg-4 p-md-4 p-3">

          <h4>Tecnicas avanzadas</h4>
          <p class="groom-right">En el caso del deporte, si no te gusta para nada el gimnasio,
            puedes optar por ejercicio al aire libre o contratar un entrenador personal que te guíe y te
            ayude a
            conseguir tus objetivos de la forma más eficiente.</p>

          <div class="row mt-2">
            <div class="col-md-2 col-sm-2 col-3 event-w3ls-date text-center">
              <h5>15</h5><span>Mar</span>
            </div>
            <div class="col-md-10 col-sm-10 col-9 event-w3ls-sub-txt text-left">
              <h4 class="mb-2">Pierde peso</h4>
              <ul>
                <li><span class="fas fa-clock" aria-hidden="true"></span>15 Marzo 2019</li>
                <li><span class="fas fa-map-marker-alt" aria-hidden="true"></span>Ponte-Fit Valencia
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 blog-w3l-right ">
          <img src="../assets/images/bb3.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- events -->
  <!--price table-->
  <section class="price py-lg-4 py-md-3 py-sm-3 py-3" id="price">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nuestros precios</h3>
      <div class="row agileits-banner-grids text-center">

        <div class=" col-md-4 priceing-tag">
          <div class="table_cost clr-one">
            <div class="price-title ">
              <h4>Sliver</h4>
            </div>
            <span class="cost"> 54 €</span>
            <p>Al mes</p>
          </div>
          <div class="price-tags-grid">
            <div class="agileits-banner-grid">
              <div class="list-price">
                <ul>
                  <li>Sala Musculación</li>
                  <li>Sala Fitness</li>
                  <li>Cardio fitness</li>
                  <li>Clases basicas</li>
                  <li>Sin ducha</li>
                </ul>
              </div>
              <div class="buy-buttn ">
                <button *ngIf="!auth.isAuthenticated()" (click)="login()" class="w3_play_icon1">Ingresar</button>
                <a *ngIf="auth.isAuthenticated()" [routerLink]="['/purchase']" class="w3_play_icon1">Contratar</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4 priceing-tag">
          <div class="table_cost clr-two">
            <div class="price-title ">
              <h4>Gold</h4>
            </div>
            <span class="cost"> 70 €</span>
            <p>Al mes</p>
          </div>
          <div class="price-tags-grid">
            <div class="list-price">
              <ul>
                <li>Plan silver</li>
                <li>Máquinas multimedia</li>
                <li>Duchas y taquillas</li>
                <li>Sala yoga</li>
                <li>Entrenador avanzado</li>
              </ul>
            </div>
            <div class="buy-buttn ">
              <button *ngIf="!auth.isAuthenticated()" (click)="login()" class="w3_play_icon1">Ingresar</button>
              <a *ngIf="auth.isAuthenticated()" [routerLink]="['/purchase']" class="w3_play_icon1">Contratar</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 priceing-tag">

          <div class="table_cost clr-three ">
            <div class="price-title ">
              <h4>Diamond</h4>
            </div>
            <span class="cost">90 €</span>
            <p>Al mes</p>
          </div>
          <div class="price-tags-grid">
            <div class="agileits-banner-grid">
              <div class="list-price">
                <ul>
                  <li>Plan Gold</li>
                  <li>Puerta rápida</li>
                  <li>Sala vip</li>
                  <li>Sauna</li>
                  <li>Piscina y jacuzzi</li>
                </ul>
              </div>
              <div class="buy-buttn ">
                <button *ngIf="!auth.isAuthenticated()" (click)="login()" class="w3_play_icon1">Ingresar</button>
                <a *ngIf="auth.isAuthenticated()" [routerLink]="['/purchase']" class="w3_play_icon1">Contratar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//price table-->
  <!--statement este es nuestro espacio para publicidad con animacion-->
  <section class="statement" id="statement">
    <div id="fondoPubli">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <div id="publiDiv" class="w3ls-statement-list text-center">
          <!--<h4>ESPACIO RESERVADO<br>
  PARA PUBLICIDAD</h4>-->

        </div>
      </div>
    </div>
    <img id="logoPubli" src="../assets/images/logoPublicitario.png">
  </section>
</main>
</body>
</html>


