<!--A Design by W3layouts
   Author: W3layout - Gabriel Becerra, Felipe Manso, Adrian Chelu
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   Descripción=Pagina secundaria del sitio www.ponte-fit.com
   -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ponte-Fit una web sobre deportes y nutrición</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="fit, deporte, nutrición, cuidarse, gym, gimnasio"/>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <link href="//fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">
</head>
<body>

<!--banner imagen principal -->
<div class="inner_page-banner">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a [routerLink]="['home']">Inicio</a>
        <span>/ /</span>
      </li>
      <li>Servicios</li>
    </ul>
  </div>
</div>
<!-- //short-->
<p> © Derechos Reservados 2001-2019 Ponte-Fit Todos los Derechos Reservados.</p>


<p>
  DERECHOS DE AUTOR.
  Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio,
  botones, nombres comerciales y vídeo) están sujetos a derechos de propiedad por las leyes de Derechos de Autor y
  demás Leyes relativas Internacionales a Ponte-Fit y a terceros titulares de los mismos que han autorizado
  debidamente su inclusión.
</p>
<p>
  En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o
  parcial de dichos derechos ni se confiere ningún derecho, y en especial, de alteración, explotación, reproducción,
  distribución o comunicación publica sobre dichos contenido sin la previa autorización expresa de Ponte-Fit o de los
  titulares correspondientes.

  El uso de imágenes, fragmentos de videos y demás material que sea objeto de protección de los derechos de autor,
  será exclusivamente para fines educativos e informativos, y cualquier uso distinto como el lucro, reproducción,
  edición o modificación, será perseguido y sancionado por el respectivo titular de los Derechos de Autor.
</p>
<p>
  DERECHOS DE USO
  Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo explotar
  cualquier parte de este servicio sin la autorización previa por escrito de Majo Mexa Producciones Ceamic o de los
  titulares correspondientes. Sin embargo, usted podrá bajar material a su computadora personal para uso
  exclusivamente personal o educacional y no comercial limitado a una copia por página. Usted no podrá remover o
  alterar de la copia ninguna leyenda de Derechos de Autor o la que manifieste la autoría del material.
</p>
<p>
  HIPERENLACES
  EsapacioLogopedico.com no autoriza el uso de "frames", Logos o gráficos. Usted no requiere solicitar permiso para
  utilizar una liga de hipertexto solo si esta liga lo lleva a EspacioLogopedico.com en una ventana separada, y donde
  el URL de EspacioLogopedico.com sea claramente visible, siempre y cuando esta liga no tenga fines comerciales. En
  cualquier otro caso no se podrá realizar ningún vínculo a EspacioLogopedico.com desde otra web sin el previo y
  expreso consentimiento por escrito de Majo Mexa Producciones Ceamic.
</p>
<p>
  EXPLOTACIÓN COMERCIAL
  Ponte-Fit es la titular, en exclusiva, para la explotación comercial de www.Ponte-Fit.com Todos los Derechos
  Reservados.
  © Derechos Reservados 2019 www.Ponte-Fit.com Derechos de Contenido Reservados.
</p>
<p>
  DERECHOS DE AUTOR.
  Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio,
  botones, nombres comerciales y vídeo) están sujetos a derechos de propiedad por las leyes de Derechos de Autor y
  demás Leyes relativas Internacionales a Ponte-Fit y a terceros titulares de los mismos que han autorizado
  debidamente su inclusión.

  En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o
  parcial de dichos derechos ni se confiere ningún derecho, y en especial, de alteración, explotación, reproducción,
  distribución o comunicación publica sobre dichos contenido sin la previa autorización expresa de Ponte-Fit o de los
  titulares correspondientes.

  El uso de imágenes, fragmentos de videos y demás material que sea objeto de protección de los derechos de autor,
  será exclusivamente para fines educativos e informativos, y cualquier uso distinto como el lucro, reproducción,
  edición o modificación, será perseguido y sancionado por el respectivo titular de los Derechos de Autor.
</p>
<p>
  DERECHOS DE USO
  Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo explotar
  cualquier parte de este servicio sin la autorización previa por escrito de Ponte-Fit o de los titulares
  correspondientes. Sin embargo, usted podrá bajar material a su computadora personal para uso exclusivamente personal
  o educacional y no comercial limitado a una copia por página. Usted no podrá remover o alterar de la copia ninguna
  leyenda de Derechos de Autor o la que manifieste la autoría del material.
</p>
<p>
  HIPERENLACES
  EsapacioLogopedico.com no autoriza el uso de "frames", Logos o gráficos. Usted no requiere solicitar permiso para
  utilizar una liga de hipertexto solo si esta liga lo lleva a EspacioLogopedico.com en una ventana separada, y donde
  el URL de EspacioLogopedico.com sea claramente visible, siempre y cuando esta liga no tenga fines comerciales. En
  cualquier otro caso no se podrá realizar ningún vínculo a www.Ponte-Fit.com desde otra web sin el previo y expreso
  consentimiento por escrito de Ponte-Fit.
</p>
<p>
  EXPLOTACIÓN COMERCIAL
  Ponte-Fit es la titular, en exclusiva, para la explotación comercial de www.Ponte-Fit.com
</p>
<!--end copyright-->
